@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import "tailwindcss";

body{
  background-color: black;
  font-family: "Press Start 2P", cursive;
}

#tsparticles {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -10;
}


/* Applique un zoom uniquement à la carte */
.map-container {
  transition: transform 0.3s ease;
}

.map-container.zoomed {
  transform: scale(1.5); /* Zoom à 1.5x */
}
